#*#
*.directory
*.swp
*/.vimrc
*_ggo.*
*~
/
/.gitignore
/notes.org~
CMakeCache.txt
CMakeFiles
CVS
CVS
Makefile
_*
build-debug
build-release
build/*
doc
mctools
notes.org
notes.org~
segmentation/clitkTestFilter*
tags
tests_jef
